/* Estilo para el contenedor principal del formulario */
form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #8f7386;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
  }
  
  /* Estilo para el título del formulario */
  h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Estilo para las etiquetas de los campos */
  label {
    font-size: 1.2rem;
    color: #555;
    display: block;
    margin-bottom: 8px;
    margin-top: 20px;
  }
  
  /* Estilo para los campos de entrada (input) */
  input[type="text"], input[type="email"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  /* Estilo para el botón de enviar */
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  button[type="submit"]:active {
    background-color: #3e8e41;
  }
  
  /* Estilo para los saltos de línea */
  br {
    margin-bottom: 12px;
  }
  